@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* General Colors - BEGIN */
:root {
  --Primary: #0d6efd;
  --PrimaryCustom: #e2eeff;
  --PrimaryCustom2: #c3dbff;
  --LightCustom: #ffffffc4;
  --LightCustom1: #e7e7e7;
}
/* Bootstrap colors - END */

/* General Configuration - BEGIN */
* {
  box-sizing: border-box;
}

body {
  z-index: 1;
  scroll-behavior: smooth;
  font-size: 14px;
  color: #141414;
  font-family: "Popins", sans-serif;
}
/* General Configuration - END */

/* Custom Classes - BEGIN  */
.rounded-15 {
  border-radius: 15px;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-primaryCustom {
  background-color: var(--PrimaryCustom);
}

.bg-LightCustom1 {
  background-color: var(--LightCustom1);
}

.bg-LightCustom {
  background-color: var(--LightCustom);
}

.transition02 {
  transition: all 0.2s ease-in;
}

.transition03 {
  transition: all 0.3s ease-in;
}

.transition05 {
  transition: all 0.5s ease-in;
}

.paymentOptionChosen,
.paymentOption:hover a {
  border-color: var(--Primary) !important;
  background-color: #f0f8ff;
}

.paymentOption a.paymentOptionChosen .paymentArrowRight,
.paymentOption:hover .paymentArrowRight {
  right: 10% !important;
}

.paymentOption a.paymentOptionChosen .paymentIcon,
.paymentOption:hover a .paymentIcon {
  background-color: var(--PrimaryCustom2);
}

.right20PNeg {
  right: -20%;
}

.opacity-0 {
  opacity: 0;
}

.sectionLoading {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed !important;
  z-index: 2;
}

.scale1 {
  transform: scale(1);
}

.scale0 {
  transform: scale(0);
}

.heightAuto {
  height: calc(100vh - 85px - 69px) !important;
}

.toggleScalePayment {
  animation: 0.7s toggleScalePayment linear;
}

.pt-10p {
  padding-top: 10vh;
}

.wh22px {
  height: 22px;
  width: 22px;
}

.w100px {
  min-width: 100px;
  max-width: 100px;
}

.w150px {
  min-width: 150px;
  max-width: 150px;
}

.mb-6 {
  margin-bottom: 8.5rem !important;
}

.right-0 {
  right: 0;
}

.aToTop {
  bottom: 20vh;
  right: -95px;
  opacity: 0.2;
}

.aToTop:hover {
  right: -3vw !important;
  opacity: 1;
}

.bg-linearGradient1 {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #464fee 0%, #74c3f7 100%);
}
.bg-linearGradient2 {
  background-color: #2b2c2f;
  background: linear-gradient(to right, #868886, #2b2c2f);
}
/* 
.divKeepShopping:hover a,
.divCheckout:hover a {
  transform: translateY(-10px);
  transform: scale(1.05); 
}*/

.fs-08 {
  font-size: 0.8rem;
}

.fs-09 {
  font-size: 0.9rem;
}

.titleProduct {
  font-weight: 500;
  color: #000;
  /* text-transform: uppercase; */
  font-size: 0.9rem;
}

.btnCheckout,
.btnKeepShopping {
  font-size: 1.3rem;
}

/* Custom Classes - END */

/* Animations - BEGIN */
@keyframes toggleScalePayment {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
/* Animations - END */
